:root {
  --color-primary: hsl(26, 100%, 55%);
  --color-secondary: hsl(25, 100%, 94%);

  --color-neutral: hsl(0, 0%, 100%);
  --color-heading: hsl(220, 13%, 13%);
  --color-text: hsl(219, 9%, 45%);
  --color-previous-price: hsl(220, 14%, 75%);
  --color-action-background: hsl(223, 64%, 98%);
  --color-modal: hsla(0, 0%, 0%, 0.75);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
}

body.modal {
  overflow: hidden;
}

.wrapper {
  max-width: 71.25rem;
  margin: 0 auto;
  padding: 1rem;
}

.wrapper--small {
  max-width: 61.25rem;
}

.navigation {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 3px solid var(--color-action-background);
}

.navigation__routing {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navigation__list {
  display: flex;
  align-items: center;
  gap: 2rem;
  list-style-type: none;
}

.navigation__item {
  position: relative;
  padding: 2rem 0;
  overflow: hidden;
}

.navigation__action {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navigation--mobile {
  display: none;
}

.product {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3rem;
  padding: 6rem 0;
}

.gallery__image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  overflow: hidden;
  pointer-events: none;
}

.gallery {
  position: relative;
  place-self: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.gallery__image-container:hover .gallery__image {
  opacity: 0.7;
}

.gallery__image {
  width: 100%;
  transition: 0.3s;
}

.gallery__images {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.content {
  padding: 3rem 0;
}

.content__subtitle {
  text-transform: uppercase;
  color: var(--color-primary);
  font-weight: 600;
  font-size: 0.833rem;
  letter-spacing: 2px;
  margin-bottom: 1.5rem;
}

.content__title {
  font-size: 3rem;
  line-height: 1.05;
  color: var(--color-heading);
  margin-bottom: 2rem;
}

.content__description {
  line-height: 1.5;
  color: var(--color-text);
  margin-bottom: 1.5rem;
}

.price {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin-bottom: 2rem;
}

.price__actual-values {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.price__current {
  font-size: 1.75rem;
  color: var(--color-heading);
}

.price__discount {
  background-color: var(--color-secondary);
  padding: 5px;
  border-radius: 4px;
  color: var(--color-primary);
  font-weight: 500;
}

.price__previous {
  color: var(--color-previous-price);
  text-decoration: line-through;
}

.content__actions {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.content__action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  background-color: var(--color-action-background);
  padding: 1rem;
  flex: 1;
  border-radius: 9px;
}

/* BUTTON */

.button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-family: inherit;
}

.button--gallery {
  border-radius: 16px;
  transition: 0.3s;
  border: 1px solid var(--color-neutral);
}

.button--gallery.active,
.button--gallery:hover {
  border-color: var(--color-primary);
}

.button--hamburger {
  display: none;
}

.button__hamburger--close {
  display: none;
}

.button--add {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  flex: 2;
  background-color: var(--color-primary);
  color: var(--color-neutral);
  padding: 1rem 0;
  border-radius: 9px;
  font-weight: 600;
  font-size: 1rem;
}

.button--add .button__image,
.button--modal .button__image {
  filter: brightness(0) saturate(100%) invert(98%) sepia(9%) saturate(87%)
    hue-rotate(180deg) brightness(119%) contrast(100%);
}

.button--avatar,
.button--cart,
.button__image {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button__avatar-image {
  height: 3.5rem;
  border-radius: 50%;
  border: 2px solid var(--color-neutral);
  transition: border-color 0.3s;
}

.button--avatar:hover .button__avatar-image {
  border-color: var(--color-primary);
}

.button--slider {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  transform: translate(-50%, -50%);
  background-color: var(--color-neutral);
  border-radius: 50%;
  height: 3rem;
  aspect-ratio: 1/1;
}

.button--next {
  top: 50%;
  left: 90%;
}

.button--previous {
  top: 50%;
  left: 10%;
}

.modal .button--slider {
  display: flex;
}

.modal .button--next {
  top: 40%;
}

.modal .button--previous {
  top: 40%;
}

.modal.hidden {
  display: none;
}

.button--modal {
  margin-bottom: 1rem;
  align-self: flex-end;
}

/* LINK */

.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
}

.navigation__link:link,
.navigation__link:visited {
  color: var(--color-text);
  transition: 0.3s;
}

.navigation__link:hover {
  color: var(--color-primary);
}

.navigation__link:hover::after {
  transform: translateX(0);
}

.navigation__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  transform: translateX(-100%);
  background-color: var(--color-primary);
  transition: transform 0.3s;
}

/* MODAL */

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-modal);
}

.modal__content {
  display: flex;
  flex-direction: column;
  padding: 12rem;
  max-width: 900px;
}

@media (max-width: 48rem) {
  .button--hamburger {
    display: flex;
  }

  .navigation {
    padding: 1rem 0;
  }

  .navigation__routing {
    flex-direction: row-reverse;
    gap: 1rem;
  }

  .navigation__list {
    display: none;
  }

  .navigation--mobile.active {
    display: flex;
  }

  .navigation__mobile {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .mobile .button__hamburger--open {
    display: none;
  }
  .mobile .button__hamburger--close {
    display: block;
  }

  .product {
    padding: 2rem 0;
    grid-template-columns: 1fr;
  }

  .wrapper--small {
    max-width: 35rem;
  }
}

@media (max-width: 28rem) {
  .navigation__mobile {
    flex-direction: column;
    padding: 1rem 0;
  }

  .navigation__item {
    padding: 0;
    overflow: visible;
  }

  .navigation__link::after {
    display: none;
  }
  .gallery__images {
    display: none;
  }
  .content {
    padding-top: 0;
  }
  .wrapper {
    padding: 0;
  }

  .navigation {
    padding: 1rem;
  }

  .product {
    padding: 0;
  }

  .product__content {
    padding: 0 1rem 3rem;
  }

  .button--gallery,
  .gallery__image-container {
    border-radius: 0;
  }

  .price {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .content__actions {
    flex-direction: column;
    align-items: stretch;
  }

  .button--slider {
    display: flex;
  }

  .button--next {
    top: 50%;
    left: 90%;
  }

  .button--previous {
    top: 50%;
    left: 10%;
  }
}
